@import "../../styles/global";
@import "../../styles/mixins";
@import "../../styles/vars";

main {
    position: relative;
    background: #080808;
}

.art,
.content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}

.art {
    transition: opacity 250ms ease;
    opacity: 0;

    &.art-1.visible, &.art-2.visible, &.art-3.visible, &.art-4.visible {
        opacity: 1;
    }
}

.art-1 {
    left: 0;
    background-image: url("../../assets/onboarding-1.jpg");
    background-position: 50%;
    background-size: cover;
    border-right: 1px solid #363636;
}

.art-2 {
    left: 50%;
    background-image: url("../../assets/onboarding-2.jpg");
    background-position: 50%;
    background-size: cover;
    border-left: 1px solid #363636;
}

.art-3 {
    left: 50%;
    background-image: url("../../assets/onboarding-3.jpg");
    background-position: 50%;
    background-size: cover;
    border-left: 1px solid #363636;
}

.art-4 {
    left: 50%;
    background-image: url("../../assets/onboarding-4.jpg");
    background-position: 50%;
    background-size: cover;
    border-left: 1px solid #363636;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    padding: 5.5em 3.75%;
    color: #fff;
    background: #080808;
    transition: left 250ms cubic-bezier(0.34, 1.56, 0.64, 1);
    overflow: auto;

    > div:first-child {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 43.2em;
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 42em;
}

h1 {
    font-family: $font-family-jetbrains-mono;
    @include fluid-font-size(3.125rem);
    line-height: 110%;
}

p {
    @include fluid-font-size(1.25rem);
    margin-top: 1.4em;
    line-height: 122%;
    color: #808080;
}

.btn-wrapper {
    margin-top: 5.5em;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.grant-info {
    @include fluid-font-size(1rem);
    margin-top: 5em;
    max-width: 27em;
    line-height: 125%;
    color: #808080;

    a {
        color: #fff;
    }
}

.started {
    .content {
        left: 0;
    }
}

@media screen and (max-width: 48rem) {
    .art {
        display: none;
    }

    .content {
        left: 0;
        width: 100%;
        transition: none;
    }
}
